/* esto es un comentario de una o varias líneas */
body{
	background-color: bisque;
}

.hDiferente{

	color: green;
}
.negritaSemantica{
	color: aqua;
}
/*colores*/
/*Nombre de colores*/

/*Código Hexadecimal*/
.pDairon{
	color: #1937EF;
}
.colorRGB{
	color: rgb(229, 21, 179);
}

.divRGBA{
	width: 50%;
	background-color: rgba(11, 60, 8, 0.5);
}
.divHSL{

	width: 50%;
	background-color: hsl(170, 90%, 51%);
	padding: 20px;
	margin-top: 50px;
	margin:auto;
}